*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/*UTILITY CLASSES*/
.flex{
    display: flex;
}
.container{
    width: 90%;
    margin: auto;
}


/*UTILITY CLASS ENDS HERE*/
ul .btn-dark a{
    padding:0.5rem 1rem;
    background: black;
    color: #fff;
    border-radius: 5px;
}
header{
 display: flex;
 flex-direction: column;
 padding: 2rem 0;
}
nav{
    justify-content: space-between;
}
ul{
    list-style: none;
}
ul li a{
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

/**SECTION 1**/
main{
    height: 120vh;
}
.sec1{
    height: 70vh;
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 2%;
    align-items: center;
}
.sec1-img{
    height: 100%;
    background: url('../img/ov-1.jpg') no-repeat center center/cover;
    border-radius: 100%;
}
.h1{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.p{
    font-size: 1.2rem;
}
.sec2{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 5%;
    height: 50vh;
    padding: 2rem 0;

}
.sec2-txt1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec2-txt2{
    display: flex;
    flex-direction: column;
    
}
.sec2-txt2 .sec2-grid{
    display: grid;
    grid-template-columns:30% 30% 30%;
    gap: 32px;
    width: 100%;
    height: 100%;
}
.skill{
    width: 100%;
    height: 80%;
}
.html{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 100%;
}
.css{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 100%;
}
.bootstrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.figma{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 100%;
}
.github{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.js{
   width: 100%;
   display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sec2-h1{
    margin-bottom: 30px;
}